:root {
  --primaryColor: #0b0d12;
  --secondaryColor: #23252a;
  --icons: #b1b4b5;
  --mutedGreen: #6faf86;
  --mainGreen: #08df73;
}

.primary {
  background-color: var(--primaryColor);
}

.secondary {
  background-color: var(--secondaryColor);
}

.iconColor {
  color: var(--icons);
}

.mutedGreen {
  color: var(--mutedGreen);
}

.mutedBackGreen {
  background-color: var(--mutedGreen);
}

.contentBackdrop {
  background: linear-gradient(
    90deg,
    #0f0f10 5%,
    #202020 68%,
    #202020 83%,
    #202020 99%
  );
}

.category-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor) transparent;
}

/* width */
::-webkit-scrollbar {
  border-radius: 10px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondaryColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.music-progress,
.volume-progress {
  width: 100%;
  height: 4px;
  appearance: none;
  border-radius: 999px;
  cursor: pointer;
}

.music-progress::-webkit-slider-thumb,
.volume-progress::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #08df73;
  cursor: pointer;
}

.music-progress::-moz-range-thumb,
.volume-progress::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background: #08df73;
  cursor: pointer;
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.borderMutedGreen {
  border: 2px solid var(--mutedGreen);
}

.hightlight {
  box-shadow: var(--mutedGreen) 0px 0.5px 12px 1.5px;
}
