:root {
  --primaryColor: #0b0d12;
  --secondaryColor: #23252a;
  --icons: #b1b4b5;
  --mutedGreen: #6faf86;
  --mainGreen: #08df73;
}

.primary {
  background-color: var(--primaryColor);
}

.secondary {
  background-color: var(--secondaryColor);
}

.iconColor {
  color: var(--icons);
}

.mutedGreen {
  color: var(--mutedGreen);
}

.mutedBackGreen {
  background-color: var(--mutedGreen);
}

.contentBackdrop {
  background: linear-gradient(
    90deg,
    #0f0f10 5%,
    #202020 68%,
    #202020 83%,
    #202020 99%
  );
}

.category-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor) transparent;
}

.category-scroll::-webkit-scrollbar {
  height: 4px;
}

.category-scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.category-scroll::-webkit-scrollbar-thumb {
  background: var(--secondaryColor);
  border-radius: 999px;
}

.category-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryColor);
}

/* width */
::-webkit-scrollbar {
  border-radius: 10px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondaryColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mutedGreen);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 
.music-progress,.volume-progress {
  width: 100%;
  height: 4px;
  appearance: none;
  border-radius: 999px;
  cursor: pointer;
}

.music-progress::-webkit-slider-thumb,.volume-progress::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #08df73;
  cursor: pointer;
}

.music-progress::-moz-range-thumb,.volume-progress::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background: #08df73;
  cursor: pointer;
} 